form {

width: 85%;
margin: 2rem auto 0 auto;
text-align: center;
}

.data-finalizar {
text-align: start;

}

h2 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 2rem;
font-weight: 300;
margin-bottom: 3rem;
color: rgba(33, 11, 110, 0.8);
}

.form {
width: 70%;
}

.buttons {
width: 100%;
}



button {
margin-right: .5rem;
margin-right: 2rem;
padding-left: 2rem;
text-align: start;
}

