mat-toolbar {
margin: 0 auto;
padding: 0 auto;
width: 100%;

}

img{
height: 3rem;
width:3.5rem;
}

.header {
justify-content: center;
height: 10%;
font-size: 6rem;
font-weight: bolder;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span {
display: flex;
align-items: center;
}

h1 {
padding-left: 1rem ;
font-size: 6rem;


}