.container {
width: 85%;
margin: auto;
}

.content {
width: 100%;

}

.badge {
display: flex;
flex: row;
height: 2rem;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
margin: 2rem;

}

.todos {
width: 50%;
margin-left: .5rem;

}

mat-card {
margin-top: .8rem;
padding: .2rem;
}

p {

text-align: end;
font-weight: 600;
color: rgba(114, 111, 111, .9);
margin-bottom: 0;

}

.actions {
margin: .6rem;
text-align: end;
}

.actions button {
margin: .5rem;
}
